
.box {
    min-width: 10px;
    border: 1px solid #d9d8de;
    background-color: #FFF;
    border-radius: 2px;
    margin-bottom: 20px;
}

.box-title {
    border-bottom: 1px solid #d9d8de;
    padding-left: 10px;
    font-weight: bold;
}

.box-content {
    padding: 10px;
}


.box-content h5 {
    text-align: center;
}

.dashboard-container  {
    margin: auto;
    max-width: 960px;
    margin-top: 20px;
}

.plugin-list {
    width: 100%;
}

.plugin-list .plugin {
    border-bottom: 1px solid #d9d8de;
    height: 30px;
}

.plugin-list .plugin td {
    text-align: right;
    vertical-align: middle
}

.plugin-list .plugin .plugin-name {
    text-align: left;
    font-weight: bold;
}

.plugin-list .plugin .plugin-version, 
.plugin-list .plugin .icon, 
.plugin-icon-arrow,
.plugin-list .plugin .plugin-latest-version {
    margin-right: 10px;
    max-width: 50px;
    width: 35px;
}

.plugin-icon-arrow {
    width: 30px;
    max-width: 30px;
}

.plugin-list .plugin .plugin-latest-version {
    color: #4ce276;
    font-weight: bold;
}

.plugin-list .plugin .button-update {
    width: 80px;
    max-width:  80px;
}

.circle-graph {
    position: relative;
    margin: auto;
    text-align: center;
}

.circle-graph-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
}   

.inner-box {
    border: 1px solid #d9d8de;
    border-bottom: 3px solid #d9d8de;
    padding: 5px;
    background-color: #F1F3F6;
    text-align: center;
    margin-bottom: 10px;
}